/* This is a CSS comment. The shortcut for adding a comment is command/CTRL + / */

/* Base styles for the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    background-image: url(../images/white_brick_wall.png);
    /* Background properties: color, image, repeat, position */
}

/* Styles for h1 (page title) */
h1 {
    color: cadetblue;
}

/* Styles for p (paragraphs) */
p {
    background-color: antiquewhite;
}

/* Selecting multiple heading elements and underlining them */
h1, h2, h3, h4 {
    text-decoration: underline;
}

/* Removing bullets from navigation links */
/* Keeping bullets on the "Merch" list */
nav ul {
    list-style: none;
}

/* Styling the navigation links */
nav ul a {
    color: darkslategray;
    text-decoration: none;
}

/* Styling for the section with the ID "treatoftheweek" */
#treatoftheweek {
    background: cadetblue url(../images/bread.jpg) no-repeat center;
    background-size: contain;
}

/* Styling for links with the class "blue-link" */
.blue-link {
    background-color: darkslategray;
    color: antiquewhite;
    text-decoration: none;
}

/* Styling for elements with the class "large-text" */
.large-text {
    font-size: 24px;
}

/* Styling for elements with the class "white-text" */
.white-text {
    color: antiquewhite;
}

/* Direct child selector for paragraphs inside an article */
article > p {
    font-size: 24px;
}

/* Typography properties for paragraphs inside an article */
article p {
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
}

/* Adding a border to a ul that follows an h3 element */
h3 + ul {
    border: 1px solid black;
}

/* Text transformation for paragraphs that follow an h3 element */
h3 ~ p {
    text-transform: uppercase;
}

/* Styling for links with an attribute of "href" equal to "treatoftheweek" */
[href="treatoftheweek"] {
    font-weight: bold;
}

/* Styling for elements with an "src" attribute that ends with ".jpg" */
[src$=".jpg"] {
    border: 4px solid darkslategray;
}

/* Styling the navigation menu links */
nav ul a, 
nav ul a:link, 
nav ul a:visited {
    background-color: antiquewhite;
    /* Adding box shadow */
    box-shadow: -2px 2px 4px 2px #000;
}

/* Styling for the current page link and hover/focus effects */
nav ul.current,
nav ul a:hover,
nav ul a:focus {
    text-decoration: underline;
}
