
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(173, 226, 226);
}

body {
    background-color: #d7e3fc;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #14d72e;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button-link:hover {
    background-color: #0a611d;
}