body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header, footer, h1 {
    background-color: #edf2fb;
}

h2{
    background-color: #c1d3fe;
}
body {
    background-color: #d7e3fc;
}
p{
    background-color: #c1d3fe;
}
