body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Add a border to the left of the content container */
.container {
    border-left: 10px solid aqua; /* Adjust the thickness as needed */
    padding-left: 20px; /* Add padding to separate content from the border */
}

header {
    text-align: center;
    position: relative;
}



header img {
    max-width: 100%;
    height: auto;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
}



article img {
    float: left;
    margin: 10px;
    height: 150px;
    width: 150px;
}



#facts ul {
    list-style: none;
    padding: 0;
}

#facts li {
    display: list-item;
    /* Changed from "display: block" */
    margin-bottom: 10px;
}



#facts li::before {
    content: '•';
    margin-right: 5px;
}

form label {
    display: block;
    margin: 5px 0;
}

header, article, #facts, form {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
