body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #0074C2;
    color: rgb(0, 0, 0);
}

header {
    text-align: center;
    padding: 20px;
    background-color: #003366;
}

.title-container {
    position: relative;
}

h1,
h2,
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



header img {
    max-width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: white;
}

.content-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}



article img {
    float: left;
    margin: 0 25px 25px 0;
    height: auto;
    width: 300px;
}

article p {
    margin-bottom: 20px;
}

#facts ul {
    list-style-type: disc;
    padding-left: 20px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
}